/* MAIN ELEMENTS */
body {
  background-color: #ffbbbb;
  font-family: 'Press Start 2P', cursive;
}
main {
  display: flex;
  flex-direction: column;
  padding-left: 200px
}
h1 {
  margin: 10px 0;
}
.grid-wrapper {
  display: flex;
  align-items: flex-start;
}
.grid {
  max-width: 448px;
  min-width: 448px;
  max-height: 496px;
  min-height: 496px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  align-content: center;
}
.grid-piece {
  max-width: 16px;
  min-width: 16px;
  max-height: 16px;
  min-height: 16px;
  font-size: 5px;
  font-family:'Courier New', Courier, monospace
}


/* SUB ELEMENTS */
#current-score {
  padding-right: 1em;
}
#info-element {
  display: inline-block;
  padding-left: 30px;
  max-width: 300px;
}
p {
  margin: 10px 0;
}
.lives {
  padding-top: 10px;
}
.heart {
  width: 20px;
  height: 20px;
}


/* GRID FEATURES */
.empty-background {
  background-color: aliceblue;
}
.wall {
  background-color: rgba(0, 0, 0, 0.6);
}
.enemy-wall {
  background-color: #aa1111;
}
.enemy-gate {
  background-color: burlywood;
}


/* SCORE ITEMS */
.surface {
  background-color: gold;
}
.energizer {
  background-color:chartreuse;
}


/* BONUS ITEMS */
.piggy-bank {
  background-color: orange;
}
.isa {
  background-color: indigo;
}
.bonds {
  background-color: darkgreen;
}
.property {
  background-color: navy;
}


/* GAME CHARACTERS */
.character {
  background-color: black;
}
.enemyFour {
  background-color: greenyellow;
}
.enemyThree {
  background-color: red;
}
.enemyTwo {
  background-color: blue;
}
.enemyOne {
  background-color: white;
}



/* AUDIO */
.sound {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: gray;
  height: 32px;
  width: 32px;
}
.active {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: goldenrod;
  height: 32px;
  width: 32px;
}