/* MAIN ELEMENTS */
/* COLUMN 1 */
body {
  background-color: #ffcccc;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  align-items: center;
}
main {
  display: flex;
  flex-direction: row;
  padding-left: 200px
}
h1 {
  margin: 10px 0;
}
.column1-info {
  display: flex;
}
.game-over-top-container-transition {
  font-size: 1.2em;
  transform: translateY(200px);
  transition: transform 3.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.grid-wrapper {
  display: flex;
  align-items: flex-start;
}
.game-over-grid-wrapper-transition {
  transform: translateY(1500px);
  transition: transform 3.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.game-over-grid-wrapper-display {
  display: none;
}
#play-again {
  margin-top: 15px;
  transition: 0.4s;
}
#play-again:hover {
  cursor: pointer;
  color: #aa1111;
  transform: translateX(20px);
  transition: 0.4s;
}
#next-round {
  margin-top: 15px;
  transition: 0.4s;
}
#next-round:hover {
  cursor: pointer;
  color: #aa1111;
  transform: translateX(20px);
  transition: 0.4s;
}
#created-by {
  margin-top: 100px;
}
#emile:hover {
  transform: translateX(20px);
  transition: 0.4s;
}
.grid {
  max-width: 448px;
  min-width: 448px;
  max-height: 496px;
  min-height: 496px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  align-content: center;

}
.grid-piece {
  max-width: 16px;
  min-width: 16px;
  max-height: 16px;
  min-height: 16px;
  font-size: 5px;
  font-family:'Courier New', Courier, monospace
}
#new-highscore {
  transform: translateY(188px);
  padding-left: 120px;
  margin: 0px;
}
/* COLUMN2 */
.column2 {
  display: flex;
  flex-direction: column;
  margin-top: 104px;
  margin-left: 20px;
  max-width: 400px;
}
#bonus-information {
  line-height: 1.2em;
}
/* HELP */
.help-text {
  position: absolute;
  top: 70px;
  right: 54px;
}
.help {
  max-width: 400px;
  position:fixed;
  top: 356px;
  line-height: 1.2em;
}


.help-show-tile {
  position: absolute;
  top: 60px;
  right: 16px;
  background-color: rgb(152, 66, 66);
  height: 32px;
  width: 32px;
}
.help-hide-tile {
  position: absolute;
  top: 60px;
  right: 16px;
  background-color: rgb(63, 138, 57);
  height: 32px;
  width: 32px;
}



/* SUB ELEMENTS */
#info-element {
  display: inline-block;
  padding-left: 30px;
  max-width: 300px;
}
p {
  margin: 10px 0;
}
.lives p {
  display:inline-block;
}
.heart {
  width: 20px;
  height: 20px;
}


/* GRID FEATURES */
.empty-background {
  background-color: aliceblue;
}
.wall {
  background-color: rgba(0, 0, 0, 0.6);
}
.enemy-wall {
  background-color: #aa1111;
}
.enemy-gate {
  background-color: burlywood;
}
.inner-enemy-wall {
  background-color: #880000;
}


/* SCORE ITEMS */
.surface {
  background-color: gold;
}
.energizer {
  background-color:chartreuse;
}


/* BONUS ITEMS */
.stations {
  background-color: #010101;
}
.finance-facts-one {
  background-color: #ffcc00
}
.whitechapel-road {
  background-color: #8b4513;
}
.pentonville-road {
  background-color: #ADD8E6;
}
.finance-facts-two {
  background-color: #ffcc00
}
.northumberland-avenue {
  background-color: #FF1493;
}
.vine-street {
  background-color: #FFA502;
}
.finance-facts-three {
  background-color: #ffcc00
}
.trafalgar-square {
  background-color: #FF0100;
}
.piccadilly {
  background-color: #FFFF01;
}
.bond-street {
  background-color: #008000;
}
.mayfair {
  background-color: #0000FF;
}
.finance-facts-four {
  background-color: #ffcc00
}


/* GAME CHARACTERS */
.character {
  background-color: #000;
}
.enemyFour {
  background-color: greenyellow;
}
.enemyThree {
  background-color: red;
}
.enemyTwo {
  background-color: blue;
}
.enemyOne {
  background-color: white;
}
.character-energized {
  background-color: brown;
}



/* AUDIO */

.audio-text {
  position: absolute;
  top: 25px;
  right: 54px;
}
.sound-tile {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: rgb(152, 66, 66);
  height: 32px;
  width: 32px;
}
.active-tile {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: rgb(63, 138, 57);
  height: 32px;
  width: 32px;
}








@media only screen and (max-height: 660px) {
  h1 {
    display: none;
  }
  .column2 {
    margin-top: 56px;
  }
  .help {
    max-width: 400px;
    position:fixed;
    top: 306px;
    line-height: 1.2em;
  }
}


@media only screen and (max-width: 1000px) {
  .help {
    display: none;
  }
}



@media only screen and (max-width: 1000px),
screen and (max-height: 600px) {
  main {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
.column2, .help-text {
  display: none;
}
.grid {
  max-width: 336px;
  min-width: 336px;
  max-height: 372px;
  min-height: 372px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  align-content: center;

}
.grid-piece {
  max-width: 12px;
  min-width: 12px;
  max-height: 12px;
  min-height: 12px;
  font-size: 2.5px;
  font-family:'Courier New', Courier, monospace
}
}

@media only screen and (max-width: 600px) {
  h1 {
    display: none;
  }
}



@media only screen and (max-width: 480px) {
  body {
    height: 350px;
  }
  .grid {
    max-width: 224px;
    min-width: 224px;
    max-height: 248px;
    min-height: 248px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    align-content: center;
  }
  .grid-piece {
    max-width: 8px;
    min-width: 8px;
    max-height: 8px;
    min-height: 8px;
  }
  p {
    font-size: 0.7em;
  }
  .heart {
    width: 10px;
    height: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .audio-text, .sound-tile {
    display: none;
  }
}